<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        App Reconocer Voz
      </ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content  padding style=text-align:center >
    <h3 >Procesando voz...</h3>
      <ion-grid > 
        <ion-row  >
          <ion-col  size=8 offset="2">

            <ion-img src="assets/Imagenes/utem.jpg"></ion-img>

            <ion-img style ="margin-top:30px" src="assets/Imagenes/cargando.gif" ></ion-img>

            <ion-button style ="margin-top:40px" shape=round expand="full" routerLink = "/vista3">Vista 3</ion-button>
         
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
