<ion-header>
    <ion-toolbar min-height=60px color="primary">
        <ion-title style=text-align:center>
            App Reconocer Voz
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding style=text-align:center>
    <h3>Procesando voz...</h3>
    <ion-grid>
        <ion-row>
            <ion-col size=8 offset="2">

                <ion-img src="assets/Imagenes/utem.jpg"></ion-img>

                <ion-img style="margin-top:30px" src="assets/Imagenes/cargando.gif"></ion-img>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
