<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      App Reconocer Voz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
    <ion-label  color=primary >Presione el micrófono para grabar</ion-label>
    <ion-grid > 
      <ion-row >
        <ion-col  >
          <ion-card >
            <ion-img  src="assets/Imagenes/mic3.gif"></ion-img>

          </ion-card>

          <!-- <ion-button color= "success" expand="full" 
          (click)= "reproducirAudio()" routerLink = "/vista2">  
            grabar
          </ion-button> -->

          <ion-button color= "success" expand="full" 
           routerLink = "/vista2">  
            grabar
          </ion-button>

        </ion-col>
      </ion-row>
    <ion-grid>
  <ion-content>