<ion-header>
  <ion-toolbar min-height=60px color="primary">
    <ion-title style=text-align:center>
      App Reconocer Voz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" padding style=text-align:center>
  
    <h3>Presione el micrófono para grabar</h3>
    <ion-grid > 
      <ion-row >
        <ion-col  >
          
          <ion-card style ="margin-top:60px" >
            <ion-img  src="assets/Imagenes/mic3.gif"></ion-img>
          </ion-card>

          <!-- <ion-button color= "success" expand="full" 
          (click)= "reproducirAudio()" routerLink = "/vista2">  
            grabar
          </ion-button> -->

          <ion-button shape="round" style ="margin-top:90px" color= "success" expand="full" 
           routerLink = "/vista2">  
            grabar
          </ion-button>

        </ion-col>
      </ion-row>
    <ion-grid>
  <ion-content>
